@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  border-bottom: 2px solid black;
}

.recommended-carousel img {
  transition: transform 0.3s ease;
}

.recommended-carousel img:hover {
  transform: scale(1.05);
}
